@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    /* width: 1366px; */
    height: 100vh;
    /* height: 768px; */
    font-size: 15px;
    box-sizing: border-box;
    background-image: linear-gradient(to top,hsl(240, 73%, 65%),hsl(273, 75%, 66%));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

section {
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    min-width: 300px;
    width: 62%; /* 850px */
    min-height: 400px;
    height: 59%; /* 450px */
    text-align: right;
    padding-right: 7%;
    background-image: url(./assets/bg-pattern-desktop.svg);
    background-position: -450% 70%;
    background-size: 90% 170%;
    background-repeat: no-repeat;
}

section > div:nth-of-type(1) {
    /* margin-top: 30%; */
    border: 1px solid;
    width: 390px; /* 390px */
    height: 100%; /* 390px */
    background-image: url(./assets/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

section > div:nth-of-type(2){
    position: absolute;
    top: 48%;
    left: 14%;
    width:150px;
}

img {
    margin-left: -20px;
    width: 110%;
    height: 100%;
    object-fit: contain;
}



/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

*/